<!DOCTYPE html>
<html>

<head>

    <title>ShopEasy Admin</title>

</head>

<body>

<header>

    <h1>🛒 ShopEasy Admin</h1>

    <nav>

        <a href="/admin-dashboard/">Dashboard</a> |

        <a href="#">Products</a> |

        <a href="#">Orders</a> |

        <a href="#">Customers</a>

    </nav>

</header>

<hr>

<h2>Admin Dashboard</h2>

<p>Manage your store products.</p>

<hr>

<h2>Products</h2>

<a href="/add-product/">

    <button>Add Product</button>

</a>

<br><br>

<table border="1" cellpadding="10">

    <tr>

        <th>ID</th>

        <th>Product</th>

        <th>Category</th>

        <th>Price</th>

        <th>Stock</th>

        <th>Actions</th>

    </tr>

    {% for product in products %}

    <tr>

        <td>

            {{ product.id }}

        </td>

        <td>

            {{ product.name }}

        </td>

        <td>

            {{ product.category }}

        </td>

        <td>

            ₹{{ product.price }}

        </td>

        <td>

            {{ product.stock }}

        </td>

        <td>

            <a href="/edit-product/{{ product.id }}/">

                <button>Edit</button>

            </a>

            <a href="/delete-product/{{ product.id }}/">

                <button>Delete</button>

            </a>

        </td>

    </tr>

    {% empty %}

    <tr>

        <td colspan="6">

            No products available.

        </td>

    </tr>

    {% endfor %}

</table>

<hr>

<button onclick="logout()">Logout</button>

<script>

function logout() {

    localStorage.removeItem("access_token");

    localStorage.removeItem("refresh_token");

    localStorage.removeItem("role");

    window.location.href = "/login/";

}

</script>

</body>

</html>